.board {
    display: grid;
    grid-template-columns: repeat(10, 5px);
    row-gap: 1px;
    column-gap: 1px;
}
.cell {
    width: 5px;
    height: 5px;
    background-color: white;
}
.alive {
    background-color: black;
}

#title-and-gol {
    display: flex;
    flex-direction: row;
    align-items: center;
}
