.container {
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 24px 0px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.home-all-posts {
  padding-top: 16px;
  color: inherit;
}
