@tailwind components;
@tailwind utilities;

:root {
  --h1-desktop: 3.815rem;
  --h2-desktop: 3.052rem;
  --h3-desktop: 2.441rem;
  --h4-desktop: 1.953rem;
  --h5-desktop: 1.563rem;
  --h6-desktop: 1.25rem;
  --small-desktop: 0.8rem;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f5fffa;
}

* {
  margin: 0;
}
