@tailwind components;
@tailwind utilities;

:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

* {
  margin: 0;
}

body {
  background-color: #f5fffa;
}

@layer components {
  .posts {
    @apply flex flex-col gap-10 md:gap-8;
  }
}
